name: Bun CI

on:
  push:
      tags: 
        - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest
    - run: bun ci
    - run: bun run build
    - uses: actions/upload-artifact@v4
      with:
        name: Build
        path: dist
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: build
    steps: 
      - uses: actions/download-artifact@v4
        with:
          name: Build
          path: dist
      - run: zip -r build.zip dist/
      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build.zip"
          generateReleaseNotes: true
